/* Entire Document*/
/* Font Things */
:root {
  font-family: 'Roboto Slab', serif;
}

.data {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  scroll-padding-top: 100px;
}

body {
  min-height: 100%;
  line-height: unset;
  display: grid;
  grid-template-rows: 100px 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  background-color: #d7d8d9;
}

li > img {
  box-shadow: 5px 5px 5px salmon;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, main::-webkit-scrollbar, #sales-table::-webkit-scrollbar {
  display: none;
}

body, main, #sales-table {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Header */
header {
  grid-area: header;
  position: fixed;
  background-color: black;
  height: 100px;
  color: white;
  width: 100%;
}

header ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 100px;
  justify-items: center;
  align-items: center;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke
}

header nav {
  width: 100%;
  margin: auto;
}

header img {
  margin-left: 8px;
}

/* Main */
main {
  grid-area: main;
  overflow: auto;
  max-width: 1020px;
  margin: 0 auto 0 auto;
}

main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-gap: 30px;
  margin: 15px auto 15px auto;
  padding: 10px;
}

img {
  width: 100%; 
  height: auto;
  margin: 15px auto 15px auto;
}

main h1, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 22px;
}

main h2 {
  margin: 15px auto 15px auto;
}

#locations, #hours {
  border: black solid;
  border-radius: 4px;
  background: salmon;
}

address, #locations h3 {
  text-align: center;
}

#locations a {
  text-decoration: none;
  color: black;
}

address, #locations address {
  font-size: 12px;
}

#contact {
  margin:30px auto 30px auto;
  font-size: 20px;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: black;
}

footer a {
  color: whitesmoke;
}

p {
  margin: .5rem .5rem 1rem .5rem;
  font-family: 'Comfortaa', cursive;
  text-emphasis: bold;
}


/* Sales Table */
#sales-table thead, #sales-table tfoot {
  text-align: left;
}

#sales-table tbody tr {
  border-bottom: thin solid #dddddd;
}

#sales-table tbody tr:nth-child(odd) {
  background-color: #aaaaaa;
}

#sales-table tbody tr:nth-child(even) {
  background-color: #f7bba1;
}

#sales-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.total {
  font-weight: bold;
}

table, th, td, tr {
  padding: .9rem;
}

tfoot tr:last-of-type {
  font-weight: bold;
}

#sales-table {
  overflow-y: scroll;
  height: auto;
  max-width: 100vw;
}

/* Sales Table Input */
/* Hide Input Arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Input Arrows - Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Mobile Media Queries*/
@media (max-width: 649.9px) {
  main {
    font-size: 16px;
  }

  main ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 15px auto 15px auto;
    padding: 10px;
  }
}

@media (max-width: 420px) {
  main h1 {
    font-size: 16px;
  }
}